body {
	background-color: #000000;
	margin: 0;
}
@font-face {
  font-family: localFont;
  src: url(font/Pacifico-Regular.ttf);
}
@font-face {
  font-family: loginWith;
  src: url(font/JosefinSans-Regular.ttf);
}
h2, h3, h4, a {
	font-family: loginWith;
	color: #C19551;
	font-weight: normal;
	margin: 0;
	text-decoration: none;	
}
h2 {
	font-family: localFont;
}
.localDiscovery {
	width: 250px;
	height: 80px;
	text-align: center;
	position: absolute;
	left: 0; 
	right: 0;
	top: 0; 
	bottom: 0;
	margin: auto;
	opacity: 0;
	visibility: hidden;
	transition: opacity 2s, visibility 2s;
}
#sidebar {
	width: 0;
	height: 100%;
	background-color: #333;
	position: absolute;
	right: 0;
	transition: width 1s;
	overflow-x: hidden;
}
.content {
	width: 95%;
	height: 50%;
	position: absolute;
	margin-top: 50px;
	margin-left: 10px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0.5s;
}
.close {
	width: 30px;
	float: left;
    margin: 10px;
	cursor: pointer;
}
.mainMenu {
	width: 600px;
	height: 200px;
	text-align: center;
	position: absolute;
	left: 0; 
	right: 0;
	top: 0; 
	bottom: 0;
	margin: auto;
	opacity: 0;
	visibility: hidden;
	transition: opacity 2s, visibility 2s, right 1s;
}
.logo {
	width: 60%;
	margin: 0 auto;
}
.loginWith {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
.optionLogin {
	margin: 0 auto;
	display: inline-block;
}
.optionLogin h4 {
	float: left;
	padding: 10px 10px;
	margin: 5px 5px;
	border: 1px solid #C19551;
	border-radius: 10px;
	transition: margin 0.5s;
	-webkit-transition: margin 0.5s;
}
.optionLogin h4:hover {	
	margin: 0px 5px;
	border: 1px solid #fff;
	color: #fff;
}
@media screen and (max-width: 800px) {
	.localDiscovery {
		width: 100%;
	}
	.mainMenu {
		width: 100%;
		height: 300px;
	}
	.optionLogin {
		width: 70%;
	}
	.optionLogin h4 {
		margin: 5px 0;
		padding: 10px 0;
		width: 100%;
	}
	.optionLogin h4:hover {	
		margin: 5px 0;
	}
	#sidebar {
		height: 100%;
		z-index:1;
		transition: width 0.5s;
		opacity: 0.9;
	}
	.content {
		transition: opacity 0.2s, visibility 0.2s;
	}
}